In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({
'A':[12,13,14,15],
'B':['hot','cold', 'hot','hot'],
'C':['a','b','c','d']
})
df1

    A     B  C
0  12   hot  a
1  13  cold  b
2  14   hot  c
3  15   hot  d

In [3]:
df2 = pd.DataFrame({
'A':[2,3,4,5],
'B':['cold','hot', 'cold','cold'],
'C':['e','f','g','h']
})
df2

   A     B  C
0  2  cold  e
1  3   hot  f
2  4  cold  g
3  5  cold  h

In [5]:
ax0= pd.concat([df1, df2], axis=0)
ax0

    A     B  C
0  12   hot  a
1  13  cold  b
2  14   hot  c
3  15   hot  d
0   2  cold  e
1   3   hot  f
2   4  cold  g
3   5  cold  h

In [6]:
ax1 = pd.concat([df1, df1], axis=1)
ax1

    A     B  C   A     B  C
0  12   hot  a  12   hot  a
1  13  cold  b  13  cold  b
2  14   hot  c  14   hot  c
3  15   hot  d  15   hot  d

In [7]:
ax2 = pd.concat([df2, df1], axis=1)

In [8]:
ax2

   A     B  C   A     B  C
0  2  cold  e  12   hot  a
1  3   hot  f  13  cold  b
2  4  cold  g  14   hot  c
3  5  cold  h  15   hot  d

In [9]:
ax3 = pd.concat([ax2, df1], axis=1)

In [10]:
ax3

   A     B  C   A     B  C   A     B  C
0  2  cold  e  12   hot  a  12   hot  a
1  3   hot  f  13  cold  b  13  cold  b
2  4  cold  g  14   hot  c  14   hot  c
3  5  cold  h  15   hot  d  15   hot  d